body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #000814;
    font-family: sans-serif;
}

div {
    background-color: #ffc300;
    color: #001d3d;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: -50px;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid #003566 ;
}

button:hover {
    background-color: #003566;
    color: #ffd60a;
}